@using Restaurant.Models
@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
            height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        html {
            min-height: 100% !important;
            max-width: auto;
            background-size: cover;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

            .profile-button:hover {
                background: #682773
            }

            .profile-button:focus {
                background: #682773;
                box-shadow: none
            }

            .profile-button:active {
                background: #682773;
                box-shadow: none
            }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
        .formDiv {
            position: absolute;
            top: 20%;
            left: 25%;
        }
    </style>
</head>
<body>
    @{User u = ViewBag.user;
        <div class="formDiv">

                <form action="~/Profile/Edit" method="post">
                    <div class="container rounded bg-white mt-5 mb-5">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img class="rounded-circle mt-5" width="150" onerror="this.src ='..//Images//img_avatar.png'" src="@u.Image">
                                    <span class="font-weight-bold"><br />@u.UserName </span>

                                    <br />
                                    <br />
                                    <input type="file" id="myFile" name="filename">
                                    <input type="submit">



                                </div>
                            </div>

                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-center">Profile Settings</h4>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">First Name</label><input style="background:transparent" name="firstname" type="text" class="form-control" placeholder="first name" value="@u.FirstName"></div>
                                        <div class="col-md-6"><label class="labels">Last Name</label><input style="background:transparent" name="lastname" type="text" class="form-control" value="@u.LastName" placeholder="surname"></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Password</label><input style="background:transparent" name="password" type="text" class="form-control" placeholder="enter password" value=""></div>
                                        <div class="col-md-12"><label class="labels">Address</label><input style="background:transparent" name="address" type="text" class="form-control" value="@u.Address"></div>
                                        <div class="col-md-12"><label class="labels">Type</label><label>&nbsp; @u.Tip.ToString()</label></div>
                                        <div class="col-md-12"><label class="labels">Activated</label><label>&nbsp; @ViewBag.active</label></div>
                                    </div>

                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"  type="submit">Save Profile</button></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
        </div>
       
    }
</body>
</html>



